  {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-self: center;
    width: 100%;
}

.blue-box {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container {
    width: 1000px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.nav-links {
    display: flex;
    gap: 15px;
}
.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.headline {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}

.headline-info {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-right: 50px;
}

.headline-info-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.headline-info-text {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.headline-info-button button {
    border: 0px;
}

.headline button {
    margin-top: 10px;
}

.headline-image {
    background-color:grey;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline p {
    text-align: left;
    color: #f9faf8;
    text-decoration: none;
}

.information-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.information-title h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information-content {
    width: 900px;
    margin: 40px;
}

.information-boxes {
    display: flex;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.box img {
    width: 150px;
    height: 150px;
    outline: 2px solid #3882f6;
    border-radius: 5px;
}

.box p {
    text-align: center;
    margin-top: 10px;
}

.quote-block {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    width: 800px;
}

.quote-author {
    text-align: right;
    font-weight: 900;
    color: #1f2937;
}

.action-block {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 1000px;
    margin: 60px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
}

.call-to-action {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 800px;
    justify-content: space-between;
    align-items: center;
}

.action-button button {
    border: 2px solid #f9faf8;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding-top: 20px;
    padding-bottom: 20px;
}
